/* card.styles.css */

.card {
  font-family: sans-serif;

  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.card p {
  font-size: 18px;
  color: #777;
}

.card ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.card li {
  font-size: 16px;
  margin-left: 20px;
  list-style-type: ;
}
